// Definizione dei font principali
$font-base: 'Inter';

// Dimensioni dei font
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

// Pesi dei font
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Altezze delle linee
$line-height-base: 1.5;
$line-height-lg: 2;
$line-height-sm: 1.25;
